@charset "UTF-8";

header{height:100px;}
.contents{height:500px;}
footer{height:100px}

h1{line-height:center;}

/* sign_up */

th{background-color:#ccc}
.joinBtn{text-align:center}


/* sign_in */
.join {width:230px;}
.input-form {width:230px; margin-left:10px;}
.btn-form {width:300px;}
.joinBox{}

/* post_list*/
.postList{}
.listTh{}